# Dependencias de Node.js
node_modules/

# Archivos de registro
*.log

# Variables de entorno
.env

# Archivos generados por la compilación (si aplica)
dist/
build/

# Caché del sistema operativo y editores
.DS_Store
Thumbs.db

# Logs de aplicaciones
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de configuración de IDEs (ejemplo)
.vscode/